################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bootimg/Debug
/bootimg/Release
/Debug
/libsepol/Debug
/libsepol/Release
/Release
/and_boot_tools.sdf
/and_boot_tools.VC.db
/.vs/and_boot_tools/v14
